<ion-view>
  <ion-content>
    <br/><br/>

    <div class="bar bar-header bar-calm">
      <a  ui-sref="register"  class="button button-outline icon ion-navicon button-dark" style="color:black;"></a>
      <h1 class="title">ROUTER APP</h1>
      <a  ui-sref="register"  class="button button-outline icon-center ion-power button-dark" style="color:black;"></a>
    </div>
    <div class="list">
      <label class="item item-input item-floating-label">
        <span class="input-label">Name</span>
        <input type="text" placeholder=" Name" ng-model="login.name">
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label">password</span>
        <input type="password" placeholder="password" ng-model="login.password">
      </label>
    </div>

    <button class="button button-block button-positive" ng-click="LoginDetails()">
      SUBMIT
    </button>

  </ion-content>
</ion-view>
