<ion-view>
  <ion-content>
    <br/><br/>
    <div class="bar bar-header bar-calm">
      <a  ui-sref="login"  class="button button-outline icon ion-navicon button-dark" style="color:black;"></a>
      <h1 class="title">ROUTER APP</h1>
      <a  ui-sref="login"  class="button button-outline icon-center ion-power button-dark" style="color:black;"></a>
    </div>

    <button class="button button-block button-positive" ui-sref="route">
      REGISTER
    </button>
    <button class="button button-block button-positive" ui-sref="login">
      LOGIN
    </button>
    <button class="button button-block button-positive" ui-sref="search">
      SEARCH RATE
    </button>
  </ion-content>
</ion-view>
