<ion-view>
  <ion-content>
  <br/><br/>

    <div class="bar bar-header bar-calm">
      <a  ui-sref="login"  class="button button-outline icon ion-navicon button-dark" style="color:black;"></a>
      <h1 class="title">ROUTER APP</h1>
      <a  ui-sref="login"  class="button button-outline icon-center ion-power button-dark" style="color:black;"></a>
    </div>
    <div class="list">
      <label class="item item-input item-floating-label">
        <span class="input-label">Name</span>
        <input type="text" placeholder=" Name" ng-model="user.name">
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label">Phone</span>
        <input type="number" placeholder="Phone" ng-model="user.phone">
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label">Email</span>
        <input type="text" placeholder="Email" ng-model="user.email">
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label">MetroCardNo</span>
        <input type="number" placeholder="MetroCardNo" ng-model="user.metroCardNo">
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label">password</span>
        <input type="password" placeholder="password" ng-model="user.password">
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label">RepeatPassword</span>
        <input type="password" placeholder="RepeatPassword" ng-model="user.repeatPay">
      </label>
    </div>

    <button class="button button-block button-positive" ng-click="saveUserDetails()">
      SUBMIT
    </button>

  </ion-content>
</ion-view>

