<ion-view>
  <ion-content>
    <br/><br/>

    <div class="bar bar-header bar-calm">
      <a  ui-sref="login"  class="button button-outline icon ion-navicon button-dark" style="color:black;"></a>
      <h1 class="title">ROUTER APP</h1>
      <a  ui-sref="login"  class="button button-outline icon-center ion-power button-dark" style="color:black;"></a>
    </div>
    <div class="list">
      <label class="item item-input item-floating-label">
        <span class="input-label">Name</span>
        <input type="text" placeholder=" Name" ng-model="map.name">
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label">Phone</span>
        <input type="number" placeholder="Phone" ng-model="map.phone">
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label">Email</span>
        <input type="text" placeholder="Email" ng-model="map.email">
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label">MetroCardNo</span>
        <input type="number" placeholder="MetroCardNo" ng-model="map.metroCardNo">
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label">password</span>
        <input type="password" placeholder="password" ng-model="map.password">
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label">RepeatPay</span>
        <input type="text" placeholder="RepeatPay" ng-model="map.repeatPay">
      </label>
    </div>

    <button class="button button-block button-positive" ng-click="updateMapDetails()">
      SUBMIT
    </button>

  </ion-content>
</ion-view>
