<style>
  .container {
  width: 100px;
  height: 1px;
  background-color: black;
  position: relative;
}
.circle {
  display: inline-block;
  vertical-align: middle;
  width: 10px;
  height: 10px;
  background-color: white;
  border: solid 1px black;
  border-radius: 50%;
  position: absolute;
  top: -6px;
  left: calc(50% - 5px);
}
.blue {
  margin-top: 20px;
  background: #3EB2EF;
}
.blue .circle {
  background: #3EB2EF;
  border-color: #3EB2EF;
}

</style>
<ion-view>
  <ion-content>
    <div class="bar bar-header bar-calm">
      <a  ui-sref="register"  class="button button-outline icon ion-navicon button-dark" style="color:black;"></a>
      <h1 class="title">ROUTER APP</h1>
      <a  ui-sref="register"  class="button button-outline icon-center ion-power button-dark" style="color:black;"></a>
    </div>
<br/><br/><br/><br/>
    <div class="container blue">
      <div class="circle"></div>
    </div>
  </ion-content>
</ion-view>
