<style>
  .item-select {
    height: 40px;
}

.item-select select {
    max-width: 100%;
    width: 100%;
}
</style>
<br/><br/><br/><br/><br/><br/>
<ion-view>
  <ion-content>
    <div class="bar bar-header bar-calm">
      <a  ui-sref="register"  class="button button-outline icon ion-navicon button-dark" style="color:black;"></a>
      <h1 class="title">ROUTER APP</h1>
      <a  ui-sref="register"  class="button button-outline icon-center ion-power button-dark" style="color:black;"></a>
    </div>
    <br/><br/><br/><br/>
    <h>SOURCE PLACE:</h>
    <label class = "item item-input item-select">
      <div class = "input-label">
        Select
      </div>
      <select >
        <option ng-repeat="users in usersList">{{users.sourceStation}}</option>
      </select>
    </label>
<br/><br/>
    <h>DESTINATION PLACE:</h>
    <label class = "item item-input item-select">
      <div class = "input-label">
        Select
      </div>
      <select>
        <option ng-repeat="users in usersList">{{users.destination}}</option>
      </select>
    </label>

    <button class="button button-block button-positive" ui-sref="searchdetails">
Search
    </button>
  </ion-content>
</ion-view>
