<style>
  body {
    cursor: url('http://ionicframework.com/img/finger.png'), auto;
}

.header .col {
    background-color:lightcoral;
}

.col {
    border: solid 1px grey;
    border-bottom-style: none;
    border-right-style: none;
}

.col:last-child {
    border-right: solid 1px grey;
}

.row:last-child .col {
    border-bottom: solid 1px grey;
}
</style>
<ion-view>
  <ion-content>
    <br/><br/>
    <div class="bar bar-header bar-calm">
      <a  ui-sref="login"  class="button button-outline icon ion-navicon button-dark" style="color:black;"></a>
      <h1 class="title">ROUTER APP</h1>
      <a  ui-sref="login"  class="button button-outline icon-center ion-power button-dark" style="color:black;"></a>
    </div>
    <br/><br/>
    <div class="row header">
      <div class="col">NAME</div>
      <div class="col">CARDNO</div>
      <div class="col">BALANCE AVAILABLE</div>
      <div class="col">Action</div>
    </div>
    <div class="row">
      <div class="col">{{map.name}}</div>
      <div class="col">{{map.metroCardNo}}</div>
      <div class="col">{{map.addMoney}}</div>
      <div class="col"><button class="button button-positive" ui-sref="routeedit({mapId:map._id})">EDIT</button>
        <button class="button button-balanced" ng-click="deleteMap(map._id)">DELETE</button>
      </div>
    </div>
  </ion-content>
</ion-view>
